.header{
    background-color: var(--corSecundaria);
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 180px 0px 40px 0px;
    margin-bottom: 18px;
   
}
.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.name{
    font-size: 18px;
}